doctype
html
    include ./partials/head.pug

    body(class='loading', data-load='getUsers')
        div(class='app')
            include ./partials/layout/header.pug

            include ./partials/layout/navigation.pug

            include ./partials/layout/content-admin.pug


        include ./partials/foot.pug
