doctype
html
    include ./partials/head.pug

    body(class='loading', data-load='adminLogin')
        include ./partials/layout/header.pug
        div(class='app')
            p [admin login ]

        include ./partials/foot.pug
