doctype
html
    include ./partials/head.pug

    body(class='loading', data-load='home')
        div(class='app')
            include ./partials/layout/header.pug

            include ./partials/layout/content-home.pug
            include ./partials/layout/navigation.pug

        include ./partials/layout/notepad.pug

        include ./partials/foot.pug
