doctype
html
    include ./partials/head.pug

    body(class='loading')

        div(class='app')
            include ./partials/layout/header.pug
            include ./partials/layout/navigation.pug
            include ./partials/layout/content.pug
            include ./partials/foot.pug
