doctype
html
    include ./partials/head.pug

    body(class='loading')
        div(class='app')
            include ./partials/layout/header.pug
            p [ home page ]

        include ./partials/foot.pug
