doctype
html
    include ./partials/head.pug

    body(class='loading')
        div(class='app')
            include ./partials/layout/header.pug
            p [ live chat page ]

        - script onverse.initialize({
            - bosh_service_url: 'https://bind.conversejs.org', // Please use this connection manager only for testing purposes
            - show_controlbox_by_default: true
        - });

        include ./partials/foot.pug
