doctype
html
    include ./partials/head.pug

    body(class='loading')
        div(class='app')
            include ./partials/layout/header.pug
            p [ live chat page ]

        include ./partials/foot.pug
