doctype
html
    include ./partials/head.pug

    body(class='loading', data-load='newCase')
        div(class='app')
            include ./partials/layout/header.pug

            include ./partials/layout/content.pug
            include ./partials/layout/navigation.pug

        div(class="notes")
            p Some Content
            p Some Content
            p Some Content
            p Some Content
            p Some Content
            p Some Content
            p Some Content
            p Some Content
            p Some Content
            p Some Content
            p Some Content
            p Some Content

        include ./partials/foot.pug
