div(class="case-log")
    span(class='CaseNo') #[strong Case Number] #[span(id='case-number') aaa-aaa-aaa]
    span(class='TimeNo') #[strong Time Log] #[span(id='time-log') 00:00 01/01/2017]

    div(class="risk")
        div(class="risk-tick")
            span Risk Level

