div(class="case-log")
    span(class="CaseNo")
        b Case Number: 
        u 400979
    span(class="TimeNo")
        b Time Log:
        span 12:33 12/12/18

    div(class="risk")
        div(class="risk-tick")
            span (Risk Level)