header

    div(class="header clearfix")
            div(class="leftbar")
                div(class="title")
                    img(class="logo", src="images/logo.png")
                    div(class="title-break")
                    p(class="title-text") Agent dashboard
            div(class="rightbar")
                div(class="profile")
                    div(class="profile-icon")
                    span(class='agent-name') Agent