div(class="full")
    div(class="nav-menu")
        div New Profile
        div Case Search
        div Case Archive
        div Stats Finder
        div Support Directory
        div Downloads
    div(class="nav-fill")