div(class="full")
    div(class="nav-menu")
        div
            a(href='new-case.html') New Profile
        div
            a(href='home.html') Case Search
        div Case Archive
        div
            a(href='stats.html') Stats Finder
        div Support Directory
        div Downloads
    div(class="nav-fill")