div(class="notes")
    div(class="title")
        div(class="closeIcon")
        div(class="titleText") Live Info panel

    div(class="notes-body")
        p Live information will appear here based on the responses from the caller, like tips and hints, suggested questions and information on further support services.
        p Some Content
        p Some Content
        p Some Content
        p Some Content
        p Some Content
        p Some Content
        p Some Content
        p Some Content
        p Some Content
        p Some Content

        //-textarea(class="notes-notes")
