body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #ecf2ff;
}

.header {
  background: #f1b715;
  width: 100%;
  margin: 0;
  display: block;
}

.app {
  width: 70%;
  float: left;
}

.notes {
  width: 30%;
  float: right;
  background: #40475d;
  height: 100%;
  display: block;
  color: white;
}

.notes p{
  padding: 5px;
}

.notes .title {
    margin: 20px 16px -10px;
    display: inline-block;
    clear: both;
}

.notes-body {
  clear: both;
  margin: 25px 10px;
  font-size: 10px;
}

.notes .closeIcon {
    background: blue;
    width: 30px;
    float: left;
    height: 30px;
}

.notes .titleText {
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 6px 12px;
}

.logo {
  float: left;
  display: block;
}

.title-break {
  float: left;
  border-left: 2px solid white;
  width: 11px;
  height: 55px;
  margin: 0 10px;
}

.title-text {
  float: left;
  color: #3f6cad;
  font-size: 20px;
  font-weight: bold;
}

.leftbar {
  float: left;
  vertical-align: middle;
  height: 50px;
  padding: 20px;
}

.rightbar {
  float: right;
  height: 50px;
  padding: 20px;
}

.profile-icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  float: left;
  margin: auto;
  padding: 5px;
  border: 3px solid lightblue;
  vertical-align: middle;
  background-color: grey;
  background-image: url(../images/proficon.png);
  background-size: cover;
  background-position: center center;
}

.profile span {
  vertical-align: middle;
  margin: auto;
  padding: 5px;
  color: white;
  font-size: 18px;
  float: left;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  display: inline-block;
}

/*attempt at full screen height */

html, body, .nav-fill {
  height: 100%;
}

.nav-menu {
  margin: 0px;
  padding: 0px;
  width: 20%;
  display: block;
  float: left;
  background: white;
  box-shadow: 5px 3px 7px 2px rgba(0, 0, 0, 0.1);
  div {
    padding: 10px;
    font-size: 18px;
    background: #efefef;
    margin: 3px 0px;
    color: #3f6cad;
    border-left: 5px solid orange;
    &:nth-child(1) {
      margin-top: 0px;
    }
  }
}

.main-content {
  margin: 0px;
  padding: 0px;
  width: 80%;
  float: right;
  background: #ecf2ff;
}

.top-bar {
  background: #dae7ff;
  height: 50px;
  span {
    color: #3f6cad;
    padding: 7px 13px;
    display: inline-block;
  }
  .risk {
    float: right;
    width: 40%;
    height: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#92ee92+0,feff00+33,efa91b+63,e62f2d+100 */
    background: #92ee92;
    /* Old browsers */
    background: -moz-linear-gradient(left, #92ee92 0%, #feff00 33%, #efa91b 63%, #e62f2d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #92ee92 0%, #feff00 33%, #efa91b 63%, #e62f2d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #92ee92 0%, #feff00 33%, #efa91b 63%, #e62f2d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92ee92', endColorstr='#e62f2d',GradientType=1 );
    /* IE6-9 */
  }
  .risk-tick {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 25px;
    border-left: 2px solid black;
    left: 15%;
    span {
      position: relative;
      padding: 0px;
      margin: 0px;
      top: 28px;
      left: -35px;
      color: black;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

.main-bar {
  margin-left: 20px;
}


/* Content Styles */

.main-bar h2 {
  color: #3f6cad;
  margin: 12px 0 5px;
}

.step-two {
  display: none;
}

.step-two-option {
  display: none;
}

.main-bar .step-icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0px 7px 1px 7px;
  font-size: 23px;
  background-color: orange;
  color: white;
  text-align: center;
}

.main-bar .hint {
  margin: 8px 0px 12px;
}

.main-bar input[type=text] {
  clear: left;
  border: 0px;
  margin: 5px;
  padding: 10px;
  width: 280px;
  font-size: 18px;
  height: 30px;
  float: left;
}

input[type=text] {
  border: 0px;
  margin: 5px;
  padding: 10px;
  width: 280px;
  font-size: 18px;
  height: 30px;
}

.main-bar select {
  margin: 5px;
  border: 0px;
  padding: 10px;
  width: 280px;
  font-size: 18px;
  height: 50px;
  float: left;
}

select {
  margin: 5px;
  border: 0px;
  padding: 10px;
  width: 280px;
  font-size: 18px;
  height: 50px;
  
}

.main-bar select.extra {
  margin: 5px 50px;
  border: 0px;
  padding: 10px;
  width: 280px;
  font-size: 18px;
  height: 50px;
  float: left;
}

.main-bar .helpit {
    float: left;
    margin: 18px 15px;
}

.main-bar .unknown {
    padding: 17px;
    float: right;
    margin: auto 50px;
    border-radius: 10%;
    position: relative;
    top: 5px;
    background: #fefefe;
    font-weight: bold;
    color: orange;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f8f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f7f7',GradientType=0 );
  }

.main-bar .question-block {
  display: block;
  margin-top:20px;
}

.main-bar .enter-icon {
  background: red;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.section {
    background: #dfe6f3;
    border-radius: 5px;
    padding: 5px 20px 20px;
}

.add_other {
  margin: 15px;
}

.add-icon {
  width: 30px;
  height: 30px;
  background: blue;
  float: left;
}

.add_other span {
  margin: 5px 10px;
  display: inline-block;
}

.main-bar .btn-search {
    margin: 5px;
    padding: 17px;
    border-radius: 10%;
    background: #fefefe;
    font-weight: bold;
    color: orange;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f8f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f7f7',GradientType=0 );

}

.main-bar .age {
    margin: 5px;
    padding: 17px;
    float: left;
    border-radius: 10%;
    background: #fefefe;
    font-weight: bold;
    color: orange;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f8f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f7f7',GradientType=0 );

}

.main-bar .sex {
    margin: 5px;
    width: 100px;
    height: 150px;
    padding: 17px;
    float: left;
    border-radius: 3% 3% ;
    background: #fefefe;
    font-weight: bold;
    color: orange;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f8f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f7f7',GradientType=0 );

}

.main-bar .category {
    margin: 5px;
    padding: 17px;
    float: left;
    border-radius: 3% 3% ;
    background: #fefefe;
    font-weight: bold;
    color: orange;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #f8f7f7 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f8f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f7f7',GradientType=0 );  
}

textarea {
  border: 0;
  width: 90%;
  height: 103px;
  padding: 17px;
  margin: 10px;
}

textarea.notes-notes{
  border: 0;
  width: 90%;
  height: 103px;
  padding: 17px;
  margin: 10px;
  background: grey;
}

footer {
  clear: both;
  background: grey;
  display: block;
  width: 100%;
  height: 50px;
  div {
    height: 50px;
    padding: 5px;
    float: left;
    font-size: 18px;
    display: block;
  }
}